
h1{
    margin:0;
    padding-top:48px;
}

.img {
    max-width: 100%;
    height: auto;
}
.form-heading{
    align-self:flex-start;
}
.form-radio{
    flex-direction:row !important;
}   
.form-heading-radio{
    margin-right:16px
}
input{
    border: none;
    border-bottom: 1px solid;
}
.gender-container{
    align-self: flex-start;
}
.MapCard-link{
    width:300px;
    text-align:start;
}    
/* .avatarbackground{
    background-image:url(/static/AvartarCreationFrameBlank.png);
    background-size: 100%;
    background-position: center center;
    background-repeat:no-repeat;
    
} */
/* .form-container{
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
    min-height:800px;
    min-width:300px;
    padding-top:75%;
} */
.form-group{
    margin-left: 15%;
    margin-right: 15%;
    align-items:center;
    display:flex;
    flex-direction: column;
    font-size:small;
}
.form-group-form{
    margin-left: 15%;
    margin-right: 15%;
    align-items:start;
    display:flex;
    flex-direction: column;
    font-size:small;
}

.homepage{
    width:100%;
    height:100%;
    background-image:url(/static/AvatarCreationBackground1980by1080Grass.png);
    background-size: cover;
}
.persona{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    display:grid;
    grid-template-columns: 50% 50%;
}
.img-position{
    position: relative;
    right:0;

}
.background-img{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}
.form{        
    background-image:url(/static/AvartarCreationFrameBlank.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
  }
.form-container{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60%;
    height: 50%;   
    overflow: auto; 
}
.form-group{
    display:flex;
    flex-direction: column;
}
.singpass-img{
    max-width: 300px;
}

/*small*/
@media screen and (max-width: 886px) {
    .homepage{
        background-image:url(/static/AvatarCreationBackground1980by1080Grass.png);
        background-repeat: repeat-y;
    }
    .persona{
        width:100%;
        height:auto;
        display:block;
    }
    .img-position{
        position: relative;
        width:60%
    }

    .background-img{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    
    }
    .singpass{
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .singpass-img{
        max-width: 100%;
    }
    .form-radio{
        flex-direction:column !important;
    }   
    
}
/*xtra small*/
@media screen and (max-width: 539px) {
}

